<?xml version="1.0"?>
<configuration>
  <configSections>
    <!--<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />-->
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <!-- Default publisher explicitly enabled-->
  <!--<exceptionManagement mode="on" />-->
  <!-- Default publisher explicitly disabled-->
  <!--<exceptionManagement mode="off" />-->
  <!-- Default publisher enabled with logame and applicationname set explicitly -->
  <!-- Custom publisher that implements IExceptionPublisher -->
  <dataConfiguration />
  <connectionStrings>
    <add name="BRGCaseMail" connectionString="Data Source=JEFF-HP\JEFFLEESQL2012;Initial Catalog=BRGCaseMail;Persist Security Info=True;User ID=sa;Password=rij574569" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DTSConnectionString" value="Data Source=JEFF-HP\JEFFLEESQL2012;Initial Catalog=BRGCaseMail;User Id=sa;Password=rij574569;Provider=SQLNCLI10;Persist Security Info=True" />
    <add key="BRGCaseMail" value="Data Source=JEFF-HP\JEFFLEESQl2012;Initial Catalog=BRGCaseMail;User Id=sa;Password=rij574569;" />
    <add key="PACERuser" value="bs2503" />
    <add key="PACERPassword" value="25mgow!b" />
    <add key="NextGenUser" value="curtigoodwmike" />
    <add key="NextGenPassword" value="Production1!"/>
    <add key="PACERFilePath" value="D:\Projects\BRG\PACERFiles\" />
    <add key="PACERImportDTSXFile" value="C:\Users\Jeff\Desktop\BRGCaseMail\BRGCaseMailServer\PacerImportPackage.dtsx" />
    <add key="ZipCodeImportDTSXFile" value="C:\Users\Jeff\Desktop\BRGCaseMail\BRGCaseMailServer\ImportZipCodes.dtsx" />
    <add key="TemplateFilePath" value="D:\Projects\BRG\MailTemplates\" />
    <add key="RemoveCSVFilePath" value="D:\Projects\BRG\BRGCaseMail\Database\" />
    <add key="CSVFilePath" value="D:\Projects\BRG\CSVFiles\" />
    <add key="NCOAExportFilePath" value="J:\Projects\BRG\BRGCaseMail\NCOA\Export\" />
    <add key="NCOAImportFilePath" value="J:\Projects\BRG\BRGCaseMail\NCOA\Import\" />
    <add key="MailMergeDocFilePath" value="D:\Projects\BRG\MailMergeDocFiles\" />
    <add key="SalesForceUserID" value="mike@bankrg.com" />
    <add key="SalesForcePassword" value="markel112yyT2bZlvx23WMfxycULcKaIMt" />
    <add key="BingGeoCodeKey" value="Aj5d1DyBqB-GT47ROAOOc-awJgCWsxrGHpyNy3DDWgp571l1t_Ul_9evcgL9_FcS" />
    <add key="YahooGeocodeUrl" value="http://where.yahooapis.com/geocode?location=" />
    <add key="YahooConsumerKey" value="dj0yJmk9a1FjdWExR2phTzE3JmQ9WVdrOVdHMUJXSHB3TjJNbWNHbzlNVEUxTWpZNU56YzJNZy0tJnM9Y29uc3VtZXJzZWNyZXQmeD1mMg--" />
    <add key="YahooConsumerSecret" value="b47f27a830a2af37e81e2e3f42cad4fa621c6ebe" />
    <add key="MailBee.ImapMail.Imap.LicenseKey" value="MN700-874F30824F454FED4FEE79705E8C-82A4" />
    <add key="RemovePOP3Server" value="mail.bankrg.com" />
    <add key="RemovePOP3User" value="remove@bankrg.com" />
    <add key="RemovePOP3Password" value="A1234" />
    <add key="RemovePOP3Messages" value="false" />
    <add key="SalesForcePassword" value="markel112yyT2bZlvx23WMfxycULcKaIMt" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>